@import '@/assets/styles/_helpers.scss';
.task-container {
  // width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0 10%;
  padding-bottom: 40px;
  // margin-top: 3%;
  // margin-bottom: 2%;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .task-badges {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
  }
  .task-add{
    margin-top: 7px;
    width: -webkit-fill-available;
    height: 3em;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
  }
  .task-add:focus {
    box-shadow: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid blue;
  }
  .add-icon{
    font-size: 25px;
  margin: auto;
  }
  .task-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
    .task-status {
      text-decoration: line-through
    }
    .task-radio {
      flex-basis: 8%;
      @include media-breakpoint-up(sm) {
        flex-basis: 3%;
      }
    }
    .task-description {
      flex-basis: 70%;
      @include media-breakpoint-up(sm) {
        flex-basis: 80%;
      }
    }
    .task-delete {
      flex-basis: 6%;
      @include media-breakpoint-up(sm) {
        flex-basis: 5%;
      }
    }
  }
}
.modal-heading {
  margin-top: 20px;
  margin-bottom: 40px;
}
.delete-btn-confirm {
  width: 100%; justify-content: space-evenly;
}
.modal-submit-btn {
  width: 120px;
  margin-bottom: 4px;
}