<div style="backdrop-filter: blur(3px);height:100%;">
  <div class="task-container">
    <h3 class="task-heading">Track your task here</h3>
    <div class="task-badges">
      <span class="badge bg-primary">Total : {{allTasks.length}}</span>
      <span class="badge bg-success">Success : {{completedTask || 0}}</span>
      <span class="badge bg-danger">Pending : {{allTasks.length - completedTask}}</span>
    </div>
    <div class="form-group d-flex">
      <input type="text" class ="task-add form-control" placeholder="Enter new task"v-model="taskDescription" @keydown.enter="addTask">
      <button class="add-btn" @click="addTask">
        <i class="fa-solid fa-circle-plus add-icon" ></i>
      </button>
      <!-- <b-icon icon="arrow-right" class="add-icon" aria-hidden="true" @click="addTask"></b-icon> -->
    </div>
    <div class="task-link d-flex">
      <a href="javascript:void(0)" style="padding: 0 8px; text-decoration: none;" @click="allTask">All</a>
      <a href="javascript:void(0)" style="padding: 0 8px; text-decoration: none;" @click="activeTask">Active</a>
      <a href="javascript:void(0)" style="padding: 0 8px; text-decoration: none;"@click="doneTask">Completed</a>
    </div>
    <div class="task-list container" v-for="task in tasks" :key="task._id">
        <div class="task-radio">
          <input 
        class="form-check-input "
        type="checkbox"
        v-model="task.completed"
        @click="changeTaskStatus(task._id)"
        id="taskStatus">
        </div>
        <div :class="{'task-status': (task.completed),'task-description':true}"><p>{{task.description}}</p></div>
        <div class="task-delete">
          <b-button v-b-modal.delete-task size="sm" variant="outline-dark" @click="setTaskId(task._id)">
            <i class="fa-solid fa-trash"></i>
          </b-button>
        </div>
    </div>
    <b-modal
    id="delete-task"
    class="delete-modal"
    ref="delete-task-modal"
    centered
    :hide-footer="hideModalFooter"
    :hide-header="hideModalheader"
    body-class="px-3 pb-5 d-flex flex-column justify-content-center align-items-center"
    >
    <p class="modal-heading">Are you sure you want delete this task?</p>
    <div class="d-flex delete-btn-confirm">
      <button class="btn btn-outline-primary modal-submit-btn" @click="closeModal">No</button>
      <button class="btn btn-outline-danger modal-submit-btn" @click="deleteTask">Yes</button>
    </div>
    </b-modal>
  </div>
</div>
